<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/img/logo-medica.png" alt="Logo Medica" style="width:35px;height:35px;vertical-align:middle;margin-right:8px;border-radius:4px;">
      Mi Ficha Médica
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="detalle-content">
  <!-- Lista de secciones -->
  <ion-list lines="none" class="lista-secciones">
    <app-ficha-item
      titulo="Datos Personales"
      icon="person-outline"
      colorClass="blue"
      (action)="goTo('datos-personales')">
    </app-ficha-item>

    <app-ficha-item
      titulo="Exámenes"
      icon="document-text-outline"
      colorClass="teal"
      (action)="goTo('examenes')">
    </app-ficha-item>
    
    <app-ficha-item
      titulo="Alergias"
      icon="alert-circle-outline"
      colorClass="red"
      (action)="goTo('alergias')">
    </app-ficha-item>

    <app-ficha-item
      titulo="Diagnósticos"
      icon="heart-outline"
      colorClass="pink"
      (action)="goTo('diagnosticos')">
    </app-ficha-item>

    <app-ficha-item
      titulo="Medicamentos"
      icon="medkit-outline"
      colorClass="orange"
      (action)="goTo('recetas-medicamentos')">
    </app-ficha-item>

    <app-ficha-item
      titulo="Historial de consultas"
      icon="pulse-outline"
      colorClass="green"
      (action)="goTo('historial')">
    </app-ficha-item>

    <app-ficha-item
      titulo="Hospitalizaciones"
      icon="bed-outline"
      colorClass="cyan"
      (action)="goTo('hospitalizaciones')">
    </app-ficha-item>

    <app-ficha-item
      titulo="Cirugías"
      icon="cut-outline"
      colorClass="purple"
      (action)="goTo('cirugias')">
    </app-ficha-item>
  </ion-list>
</ion-content>
