.elAcordeon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40rem;
  margin-right: 40rem;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}