<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<div class="graficos">
  <ion-content [fullscreen]="true" class="ion-padding">
    
    <!-- Gráfico de pacientes -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Pacientes Con Cáncer</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <canvas id="lineChart"></canvas>
      </ion-card-content>
    </ion-card>
    
    <!-- Gráfico de género -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Comparación Género</ion-card-title>
        <!-- Icono pequeño arriba a la derecha -->
        <ion-buttons slot="end" class="info-btn">
          <ion-button fill="clear" size="small">
            <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-card-header>
      <ion-card-content>
        <canvas id="barChart"></canvas>
      </ion-card-content>
      <ion-footer class="resumen-genero">
        <p>Género con más consultas: <strong>Femenino</strong></p>
      </ion-footer>
    </ion-card>

  </ion-content>
</div>
